# DATABASE PROPERTIES (DEFAULT FALLBACK IS H2 IN-MEMORY)
DATABASE_URL=jdbc:postgresql://localhost:5432/fooddb
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres

# SPRING SECURITY SECRET
JWT_SECRET=9263046773539828574921938563829102837561028374829384756283928475

# AI SERVICE INTEGRATION PROPERTIES
AI_SERVICE_URL=http://localhost:8000
